<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/icshelper/IcsHelper"
			class = "org.xtext.example.icshelper.icsHelper.IcsHelperPackage"
			genModel = "model/generated/IcsHelper.genmodel" />
	</extension>
</plugin>
